[submodule "external/ftxui"]
	path = external/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "external/curlpp"]
	path = external/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "external/libgpod"]
	path = external/libgpod
	url = https://github.com/fadingred/libgpod.git
